/*

COULEURS : 

	Prédominance Noir/Rouge voir un peu de Orange/jaune

*/

@font-face {
  font-family: "LifeCraft";
  src: url("../fonts/LifeCraft.ttf");
}

@font-face {
  font-family: "fanjofey";
  src: url("../fonts/fanjofey.ttf");
}

@font-face {
  font-family: "acadian";
  src: url("../fonts/acadian.ttf");
}

html,body{height:100%;}
.carousel,.item,.active{height:100%;}
.carousel-inner{height:100%;}
.fill{width:100%;height:100%;background-position:center;background-size:cover;}


/* faster sliding speed */
.carousel-inner > .item {
    -webkit-transition: 0.3s ease-in-out left;
    -moz-transition: 0.3s ease-in-out left;
    -o-transition: 0.3s ease-in-out left;
    transition: 0.3s ease-in-out left;
}

/* keep full widget on smaller screens */
@media (max-width: 767px) { 
	body {
		padding-left: 0;
		padding-right: 0;
	}
}

body {
	
	background-color: #000 !important;
	color: #fff !important;
	overflow-x: hidden;
	
    /* Set a specific height */

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.one-page-header.navbar {
    padding: 12px 0;
}
.one-page-header {
    border-bottom: none;
    background: rgba(0,0,0,0.2) !important;
	border: none !important;
}

.scrolled {
	background: rgba(0,0,0,1) !important;
}

.navbar-brand {
	font-family: "acadian";
	color: #fff !important;
	font-size: 180% !important;
}

.nav, .navbar-nav {
	float: right !important;
	text-transform: uppercase;
	font-family: "LifeCraft";
	font-size: 120%;
}

.navbar-default .navbar-nav > li > a {
    color: #fff !important;
	
}

.carousel,.item,.active{
	height:100%;
}

.carousel-inner{
	height:100%;
}

.lettrine {
	font-family: "fanjofey";
	color: red;
}

.carousel-caption h3 {
	font-family: "LifeCraft";
}

.event {
	width: 50%;
}

@media (min-width: 767px) { 

	.navbar-brand {
		font-size: 300% !important;
	}

	.nav, .navbar-nav {
		font-size: 200%;
	}
	
	.carousel-caption h3 {
		font-family: "LifeCraft";
		font-size: 250%;
	}

	.carousel-caption p {
		
		font-size: 100%;
	}
	
	.background h3{
		font-family: "LifeCraft";
		font-size: 300%;
	}
	
	.background p{
		font-size: 200%;
	}

}

.server-status {
	padding: 2%;
	text-align: center;
	background-image: -webkit-linear-gradient(rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.8));
}

.server-status h3 {
	font-family: "LifeCraft";
}

.team {
	background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.7),  rgba(0, 0, 0, 1));
	text-align: center;
	padding-bottom: 1%;
}

.team h3 {
	font-family: "LifeCraft";
}

.iframe {
	text-align: center;
	padding: 5%;
	padding-bottom: 5%;
	padding-top: 5%;
}

.main {
	background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.5));
	text-align: center;

}

.icon {
	width: 100px;
	height: 100px;
}

.icon-nostalgeek {
	width: 200px;
	height: 100px;
}

.presentation {
	padding: 10%;
}

.uppercase {
	text-transform: uppercase;
	font-family: "LifeCraft";
}

.center {
	text-align: center;
}

hr.style1 { 
  width: 50px;
  border: 0; 
  height: 3px; 
  background-image: -webkit-linear-gradient(left, red, #000, red);
  background-image: -moz-linear-gradient(left, red, #000, red);
  background-image: -ms-linear-gradient(left, red, #000, red);
  background-image: -o-linear-gradient(left, red, #000, red); 
}

hr.style2 { 
  width: 50px;
  border: 0; 
  height: 1px; 
  background-image: -webkit-linear-gradient(left, #000, rgb(255, 0, 0), rgb(242, 151, 42));
  background-image: -moz-linear-gradient(left, #000, rgb(255, 0, 0), rgb(242, 151, 42));
  background-image: -ms-linear-gradient(left, #000, rgb(255, 0, 0), rgb(242, 151, 42));
  background-image: -o-linear-gradient(left, #000, rgb(255, 0, 0), rgb(242, 151, 42)); 
}

hr.style3 { 
  width: 50px;
  border: 0; 
  height: 3px; 
  background-image: -webkit-linear-gradient(left, #000, yellow, rgb(242, 151, 42));
  background-image: -moz-linear-gradient(left, #000, rgb(255, 0, 0), rgb(242, 151, 42));
  background-image: -ms-linear-gradient(left, #000, rgb(255, 0, 0), rgb(242, 151, 42));
  background-image: -o-linear-gradient(left, #000, rgb(255, 0, 0), rgb(242, 151, 42)); 
}

hr.style4 { 
  width: 50px;
  border: 0; 
  height: 3px; 
  background-image: -webkit-linear-gradient(left, red, #000, red);
  background-image: -moz-linear-gradient(left, red, #000, red);
  background-image: -ms-linear-gradient(left, red, #000, red);
  background-image: -o-linear-gradient(left, red, #000, red); 
}

.avatar {
	border-radius: 50%;
}

.style1 .event {
	text-align: left !important;
	float: left !important;
}

.style2 .event {
	text-align: right !important;
	float: right !important;
}

.main-image {
	/* The image used */
	background-image: url('../images/background/ogrimmar.jpg');
	
    /* Set a specific height */

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.footer-start {
	
	/* The image used */
	background-image: url('../images/background/paysage.jpg');
	
    /* Set a specific height */

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.filter-footer {
	background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.5));
	background-image: -moz-linear-gradient(top, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.5));
	background-image: -ms-linear-gradient(top, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.5));
	background-image: -o-linear-gradient(top, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.5)); 
}

footer {
	background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 1));
	background-image: -moz-linear-gradient(top, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 1));
	background-image: -ms-linear-gradient(top, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 1));
	background-image: -o-linear-gradient(top, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 1)); 
	padding: 10%;
	list-style:none;
}

.color-red  {
	color: red;
}

.img-circle {
	height: 200px !important;
	width: 200px !important;
}

/*
@media (min-width: 767px) { 
	.classe-icon {
		height: 25px;
		width: 25px;
	}
	
	.tank-img {
		height: 25px;
		width: 25px;
	}
	
	.dps-img {
		height: 25px;
		width: 25px;
	}
	
	.healer-img {
		height: 25px;
		width: 25px;
	}

	.parchemin {
		background-image: url('../images/parchemin.png');
		#opacity: 0.55;
		background-position: center;
		background-repeat: no-repeat;
		background-size: 100% 100%;
		height: 900px;
		
	}

	.tableaux {
		height: 75%;
		width: 100%;
		#padding: 13%;
		font-size: 20px;
		color: #000;
		padding-top: 25%;
		padding-left: 10%;
		padding-right: 10%;
		font-family: "LifeCraft";
		overflow-y: hidden;
	}
		
	.tableaux th {
		width: 0.5%;
		height: 50px;
		text-align: left;
	}
	.tableaux td {
		text-align: left;
	}
}

@media (max-width: 767px) { 
	.classe-icon {
		height: 10px;
		width: 10px;
	}

	.parchemin {
		background-image: url('../images/parchemin.png');
		#opacity: 0.55;
		background-position: center;
		background-repeat: no-repeat;
		background-size: 100% 100%;
		height: 300px;
		
	}

	.tableaux {
		height: 100%;
		width: 100%;
		#padding: 13%;
		font-size: 8px;
		color: #000;
		padding-top: 30%;
		padding-left: 10%;
	}
}*/

.parchemin {
	background-image: url('../images/parchemin.png');
	#opacity: 0.55;
	background-position: center;
	background-repeat: no-repeat;
	background-size: 100% 100%;
	height: 50vw;
	padding: 5vw;
	padding-top: 11vw;
}

.tableaux {
	height: 28vw;
	#border: solid 1px;
	overflow-y: scroll;
	font-size: 1vw;
	color: #000;
	font-family: "LifeCraft";
}

.tableaux th {
		width: 15vw;
		height: 2vw;
		text-align: left;
	}
	.tableaux td {
		text-align: left;
	}

.classe-icon {
	height: 1vw;
	width: 1vw;
}

.tank {
	
}

.dps {
	
}

.healer {
	
}

.tank-img {
	height: 1.5vw;
	width: 1.5vw;
}
	
.dps-img {
	height: 1.5vw;
	width: 1.5vw;
}
	
.healer-img {
	height: 1.5vw;
	width: 1.5vw;
}

.guerrier {
	background-color: #C1C72B;
}

.chaman {
	background-color: #0B0C8F;
	color: #fff;
}

.druide {
	background-color: #CA4D28;
}

.pretre {
	background-color: #000000;
}

.chasseur {
	background-color: #748854;
}

.demoniste {
	background-color: #3F058C;
}

.voleur {
	background-color: #C1C72B;
}

.mage {
	background-color: #A2E7E9;
}
